# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of `go build`
*.out

# Output of `go test`
*.test

# Dependency directories (Go Modules)
vendor/

# Go workspace file
go.work
go.work.sum

# Environment files
.env
